@use 'variables' as v;

.site-footer {
  border-top: 1px solid v.$color-border;
  background: v.$color-bg-alt;
  //margin-top: v.$spacing-unit * 6;
}

.site-footer__inner {
  max-width: v.$max-width;
  margin: 0 auto;
  padding: v.$spacing-unit * 3;
  text-align: center;
  color: v.$color-text-light;
  font-size: 0.875rem;
}
