<section class="keyvisual">
  <div class="keyvisual__inner">
    <div class="keyvisual__content">
      <h1>Chào mừng bé đến với Thế Giới Học Mà Chơi!"</h1>
      <p class="keyvisual__lead">Chọn tài liệu phù hợp</p>
      <p class="keyvisual__desc">Bắt đầu hành trình dạy học hiệu quả ngay hôm nay</p>

      <div class="keyvisual__buttons">
        <a class="btn" href="#">Ôn vào lớp 1</a>
        <a class="btn" href="#">Tiền lớp 1</a>
        <a class="btn" href="#">Tiểu học</a>
        <a class="btn" href="#">Tất cả các khối lớp</a>
        <a class="btn" href="#">Mầm non / Tiền tiểu học</a>
        <a class="btn" href="#">Lớp 1</a>
        <a class="btn" href="#">Lớp 2</a>
        <a class="btn" href="#">Lớp 3</a>
        <a class="btn" href="#">Lớp 4</a>
        <a class="btn" href="#">Lớp 5</a>
      </div>
    </div>

    <div class="keyvisual__media">
      <div class="keyvisual__video">
        <iframe
          src="https://www.youtube.com/embed/M7lc1UVf-VE"
          title="FreeDoc keyvisual video"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</section>
