<header class="site-header">
  <div class="site-header__inner">
    <a class="site-header__logo" href="/index.html">
      <img src="/assets/images/logo.svg" alt="FreeDoc" width="32" height="32">
      <span>FreeDoc</span>
    </a>
    <nav class="site-header__nav">
      <ul>
        <li><a href="/index.html">Trang chủ</a></li>
        <li><a href="/about/index.html">Giới thiệu</a></li>
      </ul>
    </nav>
  </div>
</header>
